{
  "extends": [
    "react-app"
  ],
  "rules": {
    "react/jsx-curly-spacing": [
      2,
      {
        "when": "never",
        "allowMultiline": false,
        "children": true
      }
    ],
    "semi": [2, "never"]
  }
}
