@media (min-width: 768px){
  .container{
    max-width:750px;
  }
}

@media (min-width: 992px){
  .container{
    max-width:1250px;
  }
}

.pull-right > a  {
  float: right!important;
}

.pull-right:after {
  padding-bottom: 15;
}

@font-face {
  font-family: 'Segoe-Bold';
  src: url('fonts/Segoe-Bold.woff');
}
